@{
    ViewBag.Title = "Struktury danych";
}

<h2>Struktury danych</h2>

<ul>
    <li>@Html.ActionLink("Macierz", "Matrix")</li>
    <li>@Html.ActionLink("Lista", "List")</li>
    <li>@Html.ActionLink("Stos", "Stack")</li>
    <li>@Html.ActionLink("Kolejka", "Queue")</li>
    @*<li>@Html.ActionLink("Drzewo przeszukiwań binarnych", "BST")</li>*@
    @*<li>@Html.ActionLink("Kopiec", "Heap")</li>*@
    @*<li>@Html.ActionLink("Zbiory rozłączne", "UnionFind")</li>*@
</ul>