@{
    ViewBag.Title = "Podstawy";
}

<header>
    <h1>Podstawy</h1>
</header>
<nav>
    <ul>
        <li>@Html.ActionLink("Wyszukiwanie minimum (maksimum)", "Min")</li>
        <li>@Html.ActionLink("Jednoczesne wyszukiwanie minimum i maksimum", "MinAndMax")</li>
        <li>@Html.ActionLink("Wyszukiwanie binarne", "BinarySearch")</li>
        <li>@Html.ActionLink("Łączenie uporządkowancych ciągów", "Merge")</li>
        <li>@Html.ActionLink("Mnożenie po rosyjsku", "RussianMultiplication")</li>
        <li>@Html.ActionLink("Największy wspólny dzielnik (algorytm Euklidesa)", "GCD")</li>
        <li>@Html.ActionLink("Obliczanie elementów ciągu Fibonacciego (za pomocą mnożenia macierzy)", "FibonacciMatrix")</li>
    </ul>
</nav>